#notification-success {
    position:fixed;
    top:30px;
    right: 50px;
    width:300px;
    z-index:10000;
    text-align:center;
    font-weight:normal;
    font-size:20px;
    color:white;
    background-color:Green;
    padding:10px;
    border: 1px solid green;
    border-radius: 5px;
}

#notification-success a {
    color:white;
    text-decoration:none;
}
#notification-fail {
    position:fixed;
    top:30px;
    right: 50px;
    width:300px;
    z-index:10000;
    text-align:center;
    font-weight:normal;
    font-size:20px;
    color:white;
    background-color:red;
    padding:10px;
    border: 1px solid red;
    border-radius: 5px;
}

#notification-fail a {
    color:white;
    text-decoration:none;
}